/* Style of Titel color and font size and style */

h1 {
    margin-left: 50px;
    font-family: fantasy;
    color: rgb(0, 183, 255);
    font-size: 40px;
    animation: animate 3s linear reverse infinite;
    color: #fff;
    background: linear-gradient(120deg, white, lightgrey, gray, rgb(68, 68, 68), black);
    background-size: 400%;
}


/* Style of Sub title similar to first  */

h2 {
    margin-left: 50px;
    font-family: sans-serif;
    color: mediumturquoise;
    padding-bottom: 10px;
}


/* P is t ein paraghraph wo ich meistens text einfüge margin ist damit der text mehr gegen mitte anfängt ohne in der mitte zu sein */

p {
    margin-left: 50px;
}


/* C ist der eigentliche text und erhält dafür auch verschiedene eigenschaften -> ich tue kein text selber in pa rein damit ich verschiedene text sorten machen c
kann à la anstatt c verschiedene buchstaben */

c {
    text-align: center;
    color: rgb(167, 245, 157);
    font-size: 25px;
    margin-bottom: 50px;
}


/* Sind eingebetete Vidoes oder andere flash spiele -> ich habe sie nebeneinander aufgereiht damit eess übersichtlicher ist  */

iframe {
    margin-left: auto;
    margin-right: auto;
}


/* das ist das navigations bar (ohne text) oben hier habe ich sie nebeneinander und mit abstand zum titel und nachkommendem content */

nav div {
    margin-left: auto;
    flex: row;
    margin-bottom: 50px;
    margin-top: 20px;
    ;
}

nav {
    animation: animate 3s linear infinite;
    color: #fff;
    background: linear-gradient(120deg, rgb(169, 197, 129), rgb(150, 199, 121), purple, red, orange, yellow, lightblue, blue, lightgrey, rgb(177, 241, 160));
    background-size: 400%;
    filter: blur();
}


/* der eigentliche text schön designed mit farben und hintergrund dahinter mit der box die ersichtlich ist  */

nav a {
    font-style: oblique;
    font-family: fantasy;
    padding: 20px;
    text-align: center;
}

nav :hover {
    background-blend-mode: hard-light;
    filter: invert();
    animation: animate 3s linear infinite;
    z-index: 1;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}


/* für die liste einfach eine farbe  */

ul {
    color: white;
}


/* Da ist der text teil für die listen  */

li {
    font-style: oblique;
    font-family: fantasy;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
    z-index: 1;
    position: relative;
}


/* da sind meine links  */

a {
    text-align: center;
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}


/* da sind die Bilder centriert mit rand damit sie schön aussehen */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 5px solid black;
    border-radius: 1px;
    z-index: 1;
    position: relative;
}


/* Wallpaper damit es alles bedeckt wird  */

body {
    background-image: url("Pictures/Wallpaper.jpg");
    background-size: 100px 210px, cover;
}

table {
    color: ivory;
    margin-left: 30px;
}


/* Design für die erste Zeile */

th {
    border: 10px solid green;
}


/* Design für die anderen Zeilen */

td {
    border: 2px solid ivory;
}

canvas {
    height: 100%;
    width: 100%;
    z-index: -1;
}

div {
    opacity: .99;
}