body {
  background-image: "giphy.gif";
}
h1 {
  color: rgba(0, 161, 86, 0.904);
}
p {
  color: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 30;
  overflow: hidden;
  position: fixed;
  top: 10;
  width: 100%;
}
 
li {
  float: left;
  
}

li a {
  font-size: 22px;
  display: block;
  padding: 30px;
  color: darkred;
  background-color: none;
}
