/* Style of Titel color and font size and style */

h1 {
    margin-left: 50px;
    font-family: fantasy;
    color: rgb(255, 255, 255);
    font-size: 40px;
}


/* Style of Sub title similar to first  */

h2 {
    margin-left: 50px;
    font-family: sans-serif;
    color: mediumturquoise;
}


/* text für links -> witer center angafangen nicht ganz links */

a {
    margin-left: 50px;
    top: 10;
    color: lightgoldenrodyellow;
}


/* Navigations balken -> in einer reihe und dazu abstand gegen unten */

nav div {
    margin-left: auto;
    flex-direction: row;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-top: 50px;
}


/* Eigentliche Text von den Links zu den anderen Seiten */

nav a {
    color: aquamarine;
    font-style: oblique;
    font-family: fantasy;
    border: 3px solid;
    background-color: rgba(97, 163, 97, 0.205);
    border-color: salmon;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
}

nav a:hover {
    color: rgba(88, 86, 86, 0.993);
    background-color: indigo;
}

i {
    margin-top: 0cm;
}

i:hover {
    filter: blur(50);
}


/* die Bilder alle übereinander mit abstände in form von borders  */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    border-radius: 8px;
    border: 15px solid black;
}


/* Hintergrundsbild angepasst und seiten bedeckend */

body {
    background-image: url("Pictures/Paper.jpg");
    background-repeat: repeat;
    background-size: 5%;
}