h1 {
    font-family: fantasy;
    color: rgb(0, 183, 255);
}

h2 {
    font-family: sans-serif;
    color: mediumturquoise;
}

a {
    color: olivedrab;
}

ul {
    color: mediumvioletred;
}

body {
    background-image: url("Pictures/Paper.jpg");
    background-size: cover;
}


/*body {
    background-image: url("Pictures/Waal.jpg"), url("Pictures/fool.jpg"), url("Pictures/magician.jpg"), url("Pictures/Priestress.jpg"), url("Pictures/emperor.jpg"), url("Pictures/empress.jpg"), url("Pictures/hirophant.jpg");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: left bottom, left, right, left top, right top, top, right bottom;
}*