h1 {
    margin-left: 50px;
    font-family: fantasy;
    color: rgb(0, 183, 255);
}

h2 {
    margin-left: 50px;
    font-family: sans-serif;
    color: mediumturquoise;
}

p {
    margin-left: 50px;
}

c {
    text-align: center;
    color: rgb(167, 245, 157);
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav div {
    margin-left: auto;
    flex-direction: row;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-top: 20px;
}

nav a {
    color: gold;
    font-style: oblique;
    font-family: fantasy;
    border: 3px;
    border-color: purple;
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
}

drection {
    color: thistle;
}

ul {
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 5px solid black;
    border-radius: 1px;
}

body {
    background-image: url("Pictures/Wallpaper.jpg");
    background-size: 200px 410px, cover;
}