h1 {
    font-family: fantasy;
    color: rgb(0, 183, 255);
}

h2 {
    font-family: sans-serif;
    color: mediumturquoise;
}

a {
    color: olivedrab;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    color: mediumvioletred;
}

body {
    background-image: url("Pictures/Waal.jpg")right top, url("Pictures/fool.jpg")center top, url("Pictures/magician.jpg") left top, url("Pictures/Priestress.jpg")left center, url("Pictures/emperor.jpg") center, url("Pictures/empress.jpg") right center, url("Pictures/hirophant.jpg")bottom left;
    background-repeat: no-repeat;
    background-size: 13%, 13%, 13%, 13%, 13%, 13%, 13%;
}